body {
    background-color: #000000;
    color: white;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: rgb(6, 183, 59);
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
}

.navbar a {
    color: white;
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
    transition: background-color, border-radius .5s ease;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: rgb(51, 203, 84);
    border-radius: 15px;
    padding: 1rem;
}

.centertext {
    max-width: 700px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.bron {
    font-style: italic;
}

.output {
    color: #000000;
    margin: 4rem;
    padding: 2rem;
    max-width: fit-content;
    background-color: #f1f1f1;
}

.weerbericht{
    white-space: pre-line;
    line-height: 1.6;
    max-width: 700px;
}

#active {
    background-color: rgb(51, 203, 84);
    border-radius: 15px;
}