body {
    background-color: #000000;
    color: white;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #01ad01;
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
}

.navbar a {
    color: white;
    font-size: 1rem;
    padding: 1rem;
    text-decoration: none;
    transition: background-color .5s ease;
}

.navbar a:hover {
    background-color: #009100;
    padding: 1rem;
}

#active {
    background-color: #009100;
}

.centertext {
    max-width: 700px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.bron {
    font-style: italic;
}

.output {
    color: #000000;
    margin: 4rem;
    padding: 2rem;
    min-width: 500px;
    border-radius: 15px;
    background-color: #f1f1f1;
}

.weerbericht{
    white-space: pre-line;
    line-height: 1.6;
    max-width: 700px;
}

li {
    margin: .3rem;
}

.link {
    color: white;
    transition: all .5s ease;
}

.link:hover {
    font-size: 1.1rem;
}