<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="icon" type="image/x-icon" href="../static/images.jpg">
    <title>Weerradar</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/weerstatistieken">Weerstatistieken</a>
            <a id="active" href="/actueel">Actuele weer</a>
            <a href="/Weerbericht">Weerbericht</a>
        </div>
    </nav>
    <div class="content">
        <div class="output">
            {% if stations is defined %}
                <form method="POST">
                    <select name="selected_station" onchange="this.form.submit()">
                        <option disabled selected value> -- selecteer een optie -- </option>
                        {% for station in stations %}
                            <option value="{{ station }}" {% if station == default %} selected {% endif %}>{{ station }}</option>
                        {% endfor %}
                    </select>
                </form>
            {% endif %}
            {% if selectedStation is defined %}
                <h1>Het weer in {{ selectedStation }}</h1> 

                {% if weertype is not none %}
                    <p>Weertype: {{ weertype }}</p>
                {% else %}
                    <p>Weertype: niet gemeten</p>
                {% endif %}  

                {% if temperatuur is not none %}
                    <p>Temperatuur: {{ temperatuur }}</p>
                {% else %}
                    <p>Temperatuur: niet gemeten</p>
                {% endif %}  

                {% if bodemtemperatuur is not none %}
                    <p>Bodem temperatuur: {{ bodemtemperatuur }}</p>
                {% else %}
                    <p>Bodem temperatuur: niet gemeten</p>
                {% endif %}  

                {% if windkracht is not none %}
                    <p>Windkracht: {{ windkracht }}bft</p>
                {% else %}
                    <p>Windkracht: niet gemeten</p>
                {% endif %}                

                {% if windRichting is not none %}
                    <p>WindRichting: {{ windrichting }}</p>
                {% else %}
                    <p>WindRichting: niet gemeten</p>
                {% endif %}

                {% if luchtvochtigheid is not none %}
                    <p>Luchtvochtigheid: {{ luchtvochtigheid }}%</p>
                {% else %}
                    <p>Luchtvochtigheid: niet gemeten</p>    
                {% endif %}

                {% if luchtdruk is not none %}
                    <p>Luchtdruk: {{ luchtdruk }}hPa</p>
                {% else %}
                    <p>Luchtdruk: niet gemeten</p>
                {% endif %}

                {% if neerslag is not none %}
                    <p>Neerslag: {{ neerslag }}</p>
                {% else %}
                    <p>Neerslag: niet gemeten</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</body>
</html>