<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="icon" type="image/x-icon" href="../static/images.jpg">
    <title>Weerradar</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/weerstatistieken">Weerstatistieken</a>
            <a id="active" href="/actueel">Actuele weer</a>
            <a href="/Weerbericht">Weerbericht</a>
        </div>
    </nav>
    <div class="content">
        <div class="output">
            <h1>Bekijk het actuele weer</h1>
            {% for station in stations %}
            <div>
                <button type="button" class="collapsible">{{ station.name }}</button>
                <div class="items">
                    <p>Weertype: {{ station.weertype }}</p>
                    <p>Temperatuur: {{ station.temperatuur }}°C</p>
                    <p>Bodem temperatuur: {{ station.bodemtemperatuur }}°C</p>
                    <p>Windkracht: {{ station.windkracht }} bft</p>
                    <p>Windrichting: {{ station.windrichting }}</p>
                    <p>Luchtvochtigheid: {{ station.luchtvochtigheid or "niet gemeten" }}%</p>
                    <p>Luchtdruk: {{ station.luchtdruk or "niet gemeten" }} hPa</p>
                    <p>Neerslag: {{ station.neerslag }}</p>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
    </div>
</body>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("collapsible-active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
        content.style.maxHeight = null;
            setTimeout(function(){
                content.style.display = "none";
            }, 200);
        
        } else {
            content.style.display = "block";
            content.style.maxHeight = content.scrollHeight + "px";
        } 
    });
    }
</script>
</html>