<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="icon" type="image/x-icon" href="../static/images.jpg">
    <title>Weerradar</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/weerstatistieken">Weerstatistieken</a>
            <a id="active" href="/actueel">Actuele weer</a>
            <a href="/Weerbericht">Weerbericht</a>
        </div>
    </nav>
    <div class="content">
        <div class="output">
            {% if stations is defined %}
                <form method="POST">
                    <select name="selected_station">
                        {% for station in stations %}
                            <option value="{{ station }}">{{ station }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Submit</button>
                </form>
            {% endif %}
            {% if selectedStation is defined %}
                <h1>Het weer in {{ selectedStation }}</h1>
                <p>Weertype: {{ weertype}}</p>
                <p>Temperatuur: {{ temperatuur }}</p>
                <p>Bodem temperatuur: {{ bodemtemperatuur }}</p>
                <p>Windkracht: {{ windkracht }}bft</p>
                <p>WindRichting: {{ windrichting }}</p>
                <p>Luchtvochtigheid: {{ luchtvochtigheid }}%</p>
                <p>Luchtdruk: {{ luchtdruk }}hPa</p>
                <p>Neerslag: {{ neerslag }}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>