<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="icon" type="image/x-icon" href="../static/images.jpg">
    <title>Weerradar</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <a id="active" href="/">Home</a>
            <a href="/weerstatistieken">Weerstatistieken</a>
            <a href="/actueel">Actuele weer</a>
            <a href="/Weerbericht">Weerbericht</a>
        </div>
    </nav>
    <div class="content">
        <div class="centertext">
            <h1>Welkom bij de WeerApp</h1>
            <p>Maak een keuze.</p>
            <div>
                <ul>
                    <li><a class="link" href="/weerstatistieken">Weerstatistieken</a></li>
                    <li><a class="link" href="/actueel">Actueel</a></li>
                    <li><a class="link" href="/Weerbericht">Weerbericht</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>