<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="icon" type="image/x-icon" href="../static/images.jpg">
    <title>Weerradar</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <a href="/">Home</a>
            <a id="active" href="/weerstatistieken">Weerstatistieken</a>
            <a href="/actueel">Actuele weer</a>
            <a href="/Weerbericht">Weerbericht</a>
        </div>
    </nav>
    <div class="content">
        <div class="output">
            <h3>Geef een start- en einddatum op</h3>
            <p>Eerste datum gegevens: {{ eerstedatum }}</p>
            <p>Laatste datum gegevens: {{ laatstedatum }}</p>
            <form method="POST" action="{{ url_for('WeerStatistieken') }}">
                <input type="text" name="start" placeholder="Startdatum(YYYYMMDD)">
                <input type="text" name="end" placeholder="Einddatum (YYYYMMDD)">
                <button type="submit">Submit</button>                
            </form>
        </div>
        {% if resultaat %}
        <div class="output">
            <h3>Weerstatistieken</h3>
            <p>Periode: {{ resultaat.periode }}</p>
            <p>Hoogste temperatuur: {{ resultaat.hoogste_temperatuur }}°C</p>
            <p>Laagste temperatuur: {{ resultaat.laagste_temperatuur }}°C</p>
            <p>Gemiddelde temperatuur: {{ resultaat.gemiddelde_temperatuur }}°C</p>
            <p>Totale neerslag: {{ resultaat.totale_neerslag }}</p>
            {% if filename %}
                <a href="{{ url_for('download_file', filename=filename) }}">
                    <button>Download</button>
                </a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</body>
</html>